<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Under Construction</title>
</head>
<body>
    <h1 align="center">🚧Under construction🚧</h1>
	<p>Hi, my name is Angus and I am working on my personal website right now.</p>
    <p>Please hang on and feel free to contact me at <a href="mailto:hi@ayip.io">hi@ayip.io</a>.</p>
    <ul>
        <li><a href="https://github.com/ayip001">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/ayip001/">Linkedin</a></li>
        <li><a href="https://www.facebook.com/ayip001">Facebook</a></li>
        <li><a href="https://www.instagram.com/facade.photography">Instagram</a></li>
    </ul>
</body>
</html>
