# Google App Engine generated folder
appengine-generated/

# virtualenv directory
venv/

# node_modules
node_modules/
npm-debug.log

# lock files
package-lock.json
yarn.lock

# python
__pycache__
.pyc

# webpack
dist/

# vim
*.swp
*.swo

# MacOS
.DS_Store
._*
