# Google App Engine generated folder
appengine-generated/

# virtualenv directory
venv/

# node_modules
node_modules/

# yarn
yarn.lock

# python
__pycache__
.pyc

# webpack
bundle.js

# vim
.swp
.swo
