// ./src/static/styles/main.scss
$hamburger-types: (collapse);
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import "../node_modules/animate-scss/_properties";
@import "../node_modules/animate-scss/_fading-entrances/_fadeInDown";
@import "../node_modules/animate-scss/_fading-entrances/_fadeInUpBig";

@import url('https://fonts.googleapis.com/css?family=Cardo');

$BG_URL: "https://www.toptal.com/designers/subtlepatterns/patterns/light-veneer.png";
$PAPER_URL: "https://www.toptal.com/designers/subtlepatterns/patterns/linedpaper.png";
$STICKY_COLORS:
  #fffeaa, // yellow
  #ff7455, // orange
  #ff0079, // pink
  #7afcff, // blue
  #dcff46; // green
$NUM_STICKY_COLORS: length($STICKY_COLORS);

.avatar {
    width: 250px;
    height: auto;
}

.burger-menu {
    opacity: 1;
    display: inline-block;
    padding: 1em;
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 10;
}

.btn-block {
    height: 100px;
    padding-top: 20px;
//    padding-bottom: 40px;
    text-align: center;
}

.card {
    @include fadeInUpBig();
    background: white;
    background: url($PAPER_URL);
}

.card-read-more {
    float: right;
    margin: 0;
}

.copyright {
    text-align: center;
}

.font-btn {
    height: 150px;
    width: 150px;
    padding: 35px;
    text-align: center;
}

.intro {
    white-space: nowrap;
}

.menu-item {
    @include fadeInDown();
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.paper {
    @include fadeInUpBig();
    background: url($PAPER_URL);
}

.paper-btn {
    @for $i from 1 to $NUM_STICKY_COLORS + 1 {
        &:nth-child(#{$NUM_STICKY_COLORS}n + #{$i}) {
            background-color: nth($STICKY_COLORS, $i);
        }
        &-#{$i} {
            background-color: nth($STICKY_COLORS, $i) !important;
        }
    }
    &-plain {
        background: url($PAPER_URL) !important;
    }
}

.reading {
    & p {
        font-family: 'Cardo', serif;
    }
    & span {
        font-family: 'Cardo', serif;
    }
    & li {
        font-family: 'Cardo', serif;
    }
    & a {
        font-family: 'Cardo', serif;
    }
    & html {
        font-family: 'Cardo', serif;
    }
    & div {
        font-family: 'Cardo', serif;
    }
    @for $i from 1 to 7 {
        & h#{$i} {
            font-family: 'Cardo', serif;
            font-size: #{0.5 + 2.5 / $i}rem;
        }
    }
}

body {
    background: url($BG_URL);
}
